# API URLs
API_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Database Provider (Choose one)
PROVIDER="@metajobs/next-local"  # Use this for local data
# PROVIDER="@metajobs/next-mongo"  # Use this for MongoDB as the database

# MongoDB Configuration (Required if using MongoDB)
MONGODB_URL="YOUR_MONGODB_URI"

# Contact Information
ADMIN_CONTACT_EMAIL="Add_Your_Admin_Contact_Email_Here"

# NodeMailer Configuration
# Test Email Configuration (Use an Ethereal account for testing)
# You can create one at https://ethereal.email/create and ensure correct config in `.env`
# Fake email service for testing purposes
------------------------------------------
NODEMAILER_HOST="Add_Your_NodeMailer_Host_Here"
NODEMAILER_SECURE=Add_Secure_NodeMailer_Here as boolean
NODEMAILER_PORT="Add_Your_NodeMailer_Port_Here"
NODEMAILER_EMAIL="Add_Your_NodeMailer_Email_Here"
NODEMAILER_PASSWORD="Add_Your_NodeMailer_Password_Here"

# Cloudinary config
CLOUDINARY_API_SECRET="Add_Your_Cloudinary_API_Secret_Here"
CLOUDINARY_API_KEY="Add_Your_Cloudinary_API_Key_Here"
CLOUDINARY_CLOUD_NAME="Add_Your_Cloudinary_Cloud_Name_Here"
